<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntuaciones fulbito</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Puntuaciones fulbito</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Puntos</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>Eficacia</th>
        </tr>
        {% for rows in puntuaciones %}
        <tr>
            <td>{{ rows[0] }}</td>
            <td><b>{{ (rows[1]|float *3 + rows[2]|float)|int }}</b></td>
            <td>{{ (rows[1]|float + rows[2]|float + rows[3]|float)|int }}</td>
            <td>{{ rows[1] }}</td>
            <td>{{ rows[2] }}</td>
            <td>{{ rows[3] }}</td>
            <td>{{ (100/3 *(rows[1]|float *3 + rows[2]|float)/(rows[1]|float + rows[2]|float + rows[3]|float))|round(2) }}%</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
